.git
.gitignore
node_modules
#!include:.gitignore

# Source files

src/**/\*.test.ts
src/**/_.spec.ts
src/\*\*/_.gs
src/debug.ts

# Config files

.prettierrc
tsconfig.json
vite.config.ts

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# Editor directories and files

.idea
.vscode
_.suo
_.ntvs\*
_.njsproj
_.sln
\*.sw?
.DS_Store
